@model DraftCraft.ViewModels.ProizvodIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "Proizvodi", FormMethod.Get))
    {
        <label>Filtriraj po kategorijama:</label>
        @Html.DropDownListFor(vm => vm.Kategorija, Model.KatFilter, "Sve");

        <input type="hidden" name="Search" id="Search" value="@Model.Search" />

        <label>Sortiraj po:</label>
        @Html.DropDownListFor(vm => vm.SortBy, new SelectList(Model.Sorts, "Value", "Key"), "")

        <input type="submit" value="Filter" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kategorija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvodi.First().Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvodi.First().Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvodi.First().Cijena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvodi.First().Sirina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvodi.First().Visina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvodi.First().Dubina)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Proizvodi) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kategorija.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cijena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sirina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dubina)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
