@model DraftCraft.ViewModels.ProizvodIndexViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>
<p>
    @(String.IsNullOrWhiteSpace(Model.Search) ? "Prikaži svih" : "Pretraživanje pojma " + " \"" + Model.Search +"\"" + " je uspješno! Pronađeno je "  )
     @Model.Proizvodi.TotalItemCount proizvoda
</p>
<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginRouteForm("ProizvodiIndex", FormMethod.Get))
    {
        <label>Filtriraj po kategorijama:</label>
        @Html.DropDownListFor(vm => vm.Kategorija, Model.KatFilter, "Sve");

        <input type="hidden" name="Search" id="Search" value="@Model.Search" />

        <label>Sortiraj po:</label>
        @Html.DropDownListFor(vm => vm.SortBy, new SelectList(Model.Sorts, "Value", "Key"), "")

        <label>Broj proizvoda po stranici: </label>
        @Html.DropDownListFor(vm => vm.PageItems, new SelectList(Model.PageItemNumber, "Value", "Key"), "")

        <input type="submit" value="Filter" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kategorija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvodi.First().Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvodi.First().Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvodi.First().Cijena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvodi.First().Sirina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvodi.First().Visina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvodi.First().Dubina)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Proizvodi) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kategorija.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cijena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sirina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dubina)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<div>
    Page @(Model.Proizvodi.PageCount < Model.Proizvodi.PageNumber ? 0 : Model.Proizvodi.PageNumber)
    of @Model.Proizvodi.PageCount
    @Html.PagedListPager(Model.Proizvodi, page=>Url.Action("Index",
    new { kategorija = @Model.Kategorija,
            Search = @Model.Search,
            sortBy = @Model.SortBy,
            pageItems = @Model.PageItems,
            page
    }))
                                        
                                        
</div>